<%= @game.current_player.name %> attacked <%= @game.opposing_player.name %>
<br>
<%= @game.opposing_player.name%>: <%= @game.opposing_player.hit_points %>HP
<br>
<form action="/switch-turns" method="post">
  <input type="submit" value="Next turn">
</form>
